# Substribe to CI changes
/.github/ @aptos/aptos-oss-admin-team

# Subscribe to aptos-core changes
/config @aptos/aptos-core
/consensus @aptos/aptos-core
/aptos-node @aptos/aptos-core
/execution @aptos/aptos-core
/mempool @aptos/aptos-core
/network @aptos/aptos-core
/secure @aptos/aptos-core
/state-sync @aptos/aptos-core
/storage @aptos/aptos-core
/types @aptos/aptos-core

# Subscribe to aptos-ecosystem changes
/api @aptos/aptos-ecosystem
/json-rpc @aptos/aptos-ecosystem
/sdk @aptos/aptos-ecosystem
/shuffle @aptos/aptos-ecosystem

# Subscribe to crypto crate changing PRs
/crypto @kchalkias @valerini

# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @xli
/json-rpc/types/ @xli
/json-rpc/src/methods.rs @xli
/client/ @xli

# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @matbd @xli

# Code freeze
# * @libra/release-gatekeepers
